@using Client.Pages.Authentication;
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)">
                <Authorizing>
                    <AuthorizingLogin />
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">Você não está autorizado a ver esse recurso.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Não encontrado</PageTitle>
            <LayoutView Layout="@typeof(EmptyLayout)">
                <p role="alert">Desculpe, não há nada nesse endereço.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
